#container-cells{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
flex-wrap: wrap;
width: 100%;
}

.cell{
    background-color: aqua;
    width: 100px;
    height: 100px;
    flex-basis: calc(100% / 7 - 20px);
}